@model Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Dashboard</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="row gap-2 justify-content-between">
        <aside>
            <h1>Admin Control</h1>
            <ul>
                <li><a href="@Url.Action("Reports", "Admin")">Reports</a></li>
                <li><a href="@Url.Action("Students", "Admin")">Students</a></li>
                <li><a href="@Url.Action("Instructors", "Admin")">Instructors</a></li>
                <li><a href="@Url.Action("Courses", "Admin")">Courses</a></li>
            </ul>
        </aside>
        <div class="dynamic-section">
            @Html.Partial("_Courses")
        </div>
    </div>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-all-courses-tab" data-bs-toggle="tab" href="@Url.Action("AllCourses", "Admin")" role="tab" aria-controls="nav-all-courses" aria-selected="true">All Courses</a>
            <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
            <a class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" href="#nav-disabled" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</a>
        </div>

    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-all-courses" role="tabpanel" aria-labelledby="nav-all-courses-tab">
            @Html.Partial("_AllCourses") <!-- Assuming _AllCourses is the name of your partial view -->
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab">...</div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
