@model Exam
@{
    Layout = null;
    int StudentId = 3;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
   
     <form method="post">
        <div class="card">
            @foreach (var question in Model.Questions)
            {
                <input type="text" name="examId" value="@Model.ExamId" readonly class="alert alert-danger" />

                <p class="card-header">Exam Duration: @Model.Duration , Full Mark @Model.FullMark</p>

                <input type="text" name="studentId" value="@StudentId" readonly class="alert alert-danger" />
                <div class="card-body">
                    <span>QuestionId= @question.QuestionId</span>

                    <p>(@question.QuestionDegree) @question.QuestionTitle</p>
                    <input type="hidden" name="studentAnswers[@question.QuestionId].QuestionId" value="@question.QuestionId" />
                    @foreach (var ans in @question.Answers)
                    {
                        <p><input type="radio" name="studentAnswers[@question.QuestionId].AnswerChooseId" value="@ans.AnswerId" /> @ans.AnswerBody</p>
                    }
                </div>
            }
            <input onclick="return confirm('Are you sure you want to end exam and submit your answers?');" type="submit" value="Submit" class="btn btn-success" />
        </div>
    </form> 
</body>
</html>
