@model List<Course>
@{
    ViewData["Title"] = "Admin | All Courses";
    ViewData["ReportsActive"] = "";
    ViewData["StudentsActive"] = "";
    ViewData["InstructorsActive"] = "";
    ViewData["CoursesActive"] = "active";
    ViewData["LogOutActive"] = "";
}

@* <div class="alert alert-danger text-danger p-3">@ViewBag.ErrorMessage</div> *@


<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Pass Degree</th>
            <th>Course Topics</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseId</td>
                <td>@course.CourseName</td>
                <td>@course.PassDegree</td>
                <td>
                    <ul>
                        @foreach (var topic in course.Topics)
                        {
                            <li>@topic.TopicName</li>
                        }
                    </ul>
                </td>
                <td>
                    <form id="updateForm-@course.CourseId" asp-action="UpdateCourse" asp-controller="admin" method="get">
                        <input type="hidden" name="courseId" value="@course.CourseId" />
                        <button type="submit"><img alt="update" width="50" src="~/images/update.png" /></button>
                    </form>
                    <form onsubmit="return confirm('Are you sure you want to delete this course?');" id="removeForm-@course.CourseId" asp-action="RemoveCourse" asp-controller="admin" method="get">
                        <input type="hidden" name="courseId" value="@course.CourseId" />
                        <button type="submit"><img alt="delete" width="35" src="~/images/trash (1).png" /></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form id="addCourseForm" asp-action="AddCourse" asp-controller="admin" method="get">
    <button type="submit" class="btn-custom">Add Course</button>
</form>

