@model Student
@{
    Layout = null;
    Track tr = ViewBag.track;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCourses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/student.css" />
    <script src="https://kit.fontawesome.com/d3bc0f0f7a.js" crossorigin="anonymous"></script> 
    <style>
        .header{
            padding: 8px 8%;
            background-color: darkred;
        }
        .logo{
            width:7%;
        }

        .studentImg{
            width:300px;
            height:300px;
            object-fit: cover;
        }

        .course {
            position: relative;
            height: 450px;
            font-family: sans-serif;
            letter-spacing: 4px;
            font-weight:bolder;
        }

        .course::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/Images/iti.jpg');
            background-size: cover;
            background-position: center bottom;
            background-repeat: no-repeat;
            filter: blur(2px);
            z-index: -1; 
        }

        .logoAndP{
            font-family: sans-serif;
        }

        .grayColor{
            color: lightgray;
        }
    </style>
</head>
<body>

    <!--Student Info -->
    <section class="text-center mt-5 mb-5 w-50 m-auto">
     
        <h1>@Model.StudentFname @Model.StudentLname</h1>
        @if (tr.TrackName != null)
        {
            <p><span class="text-success">@tr.TrackName</span> Track</p>
            <p> Supervisor: @tr.Supervisor.InstructorFname</p>
        }
    </section>

    <section class="my-5 w-50 m-auto">
        @foreach (var item in Model.StudentCourses)
        {
            foreach (var exam in @item.Course.Exams)
            {
                <div class="mb-3  item">
                    <div>
                    <h3 class="my-2">Course Name: @item.Course.CourseName</h3>
                    <h5 class="my-2">Exam ID: @exam.ExamId</h5>
                    <p class="mb-4 text-secondary">The Exam duration of this course is: @exam.Duration</p>
                        <a asp-action="StartExam" asp-controller="Exam" asp-route-stdID="@item.StudentId" asp-route-CrsId="@item.Course.CourseId" asp-route-ExamId="@exam.ExamId" asp-route-InstId="@tr.Supervisor.InstructorId" class="btn-custom text-center text-decoration-none">Go to Exam</a>
                </div>
            </div>
            }
        }
    </section>
  
</body>
</html>