@using System.Globalization
@model Student
@{
    Layout = null;
    Track tr = ViewBag.track;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCourses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/student.css" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d3bc0f0f7a.js" crossorigin="anonymous"></script>
  
</head>
<body>

    <!--Student Info -->
    <div class="page-container">
        <aside class="std">
            <img src="~/images//Exams-bro.svg" class="stdimg" alt="exam"/>
               <h1>@Model.StudentFname @Model.StudentLname</h1>
        
            @if (tr.TrackName != null)
            {
                <p class="text-center"><span class="text-success">@tr.TrackName</span> Track</p>
                <p class="text-center "> Supervisor: @tr.Supervisor.InstructorFname</p>
            }

            <ul>
                <li>    <a asp-action="ChangepassStd" asp-controller="AccountEdit" asp-route-stdID="@Model.StudentId" class="@ViewData["LogOutActive"]">Edit</a></li>
                <li>    <a asp-controller="Account" asp-action="Logout" class="@ViewData["LogOutActive"]">LogOut</a></li>
            </ul>
        

            <img class="circle" src="~/images/circles.png" />
        </aside>


        <div class="right-sec py-5 container dynamic-section">
        <h1 class="main-title">Student Courses </h1>
    <section class="my-5  m-auto">
        @foreach (var item in Model.StudentCourses)
        {
            foreach (var exam in @item.Course.Exams)
            {
                @if(exam.TrackId== Model.TrackId){
                var disable = ViewBag.AnswerdEaxams.Contains(exam.ExamId);
                <div class="mb-3  item">
                    <div>
                        <h3 class="my-2">Course Name: @item.Course.CourseName</h3>
                        <h5 class="my-2">Exam ID: @exam.ExamId</h5>
                     
                   <p class="mb-2 text-secondary">The Exam duration of this course is: <span id="examDuration">@exam.Duration?.ToString(@"mm\:ss", CultureInfo.InvariantCulture)</span></p>

                          <p class="mb-4 text-secondary">The Exam Date is: @exam.ExamDate </p>
                                @if (!disable)
                                {
                       
                                    var today = DateTime.Today;
                                    var examDate = DateTime.ParseExact(exam.ExamDate.ToString(), "dd/MM/yyyy", CultureInfo.InvariantCulture);
                                    var isToday = (today == examDate);

                                  
                                    if (!isToday)
                                    {
                                        <button class="btn btn-secondary px-4 text-center text-decoration-none" disabled>
                                            Exam Not Available Today
                                        </button>
                                    }
                                    else
                                    {
                                        <a asp-action="StartExam" asp-controller="Exam" asp-route-stdID="@item.StudentId" asp-route-CrsId="@item.Course.CourseId" asp-route-ExamId="@exam.ExamId" asp-route-InstId="@tr.Supervisor.InstructorId" class="btn-custom text-center text-decoration-none">
                                            Go to Exam
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-secondary px-4 text-center text-decoration-none" disabled>
                                        Done
                                    </a>
                                }
                            </div>
                </div>
                }
            }
        }
    </section>
    </div>
    </div>
</body>
</html>