@model List<GetInstructorDataResult>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>

        .btn-action {
            margin-right: 5px;
        }

        .custom-btn {
            background-color: lightgreen;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <a class="btn custom-btn mb-3" asp-action="Add" asp-controller="Instructor"><i class="fas fa-user-plus"></i> Add Instructor</a>
        <table class="table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Salary</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="8">No Instructor found</td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.InstructorId</td>
                            <td>@item.InstructorFName</td>
                            <td>@item.InstructorLName</td>
                            <td>@item.InstructorSalary</td>
                            <td>@item.InstructorEmail</td>
                            <td>@item.InstructorPassword</td>
                            <td>
                                <a class="btn btn-primary btn-action rounded-circle" asp-action="Edit" asp-controller="Instructor" asp-route-id="@item.InstructorId"><i class="fas fa-edit"></i> </a>
                                <a class="btn btn-danger btn-action rounded-circle" asp-action="Delete" asp-controller="Instructor" asp-route-id="@item.InstructorId" onclick="return confirm('Are you sure you want to delete this student?')"><i class="fas fa-trash"></i> </a>
                                <a class="btn btn-info btn-action rounded-circle" asp-action="showInstructorCourses" asp-controller="InstructorCourse" asp-route-id="@item.InstructorId"><i class="fas fa-book"></i> </a>
                                <a class="btn btn-info btn-action rounded-circle" asp-action="ShowTracks" asp-controller="InstructorCourse" asp-route-id="@item.InstructorId"><i class="fas fa-graduation-cap"></i>   </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
